.cards__item {
    display: flex;
    flex: 1;
    margin: 1rem 1rem 1rem;
    border-radius: 10px;
    width: 20rem;
}

.cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    border-style: solid;
    border-color: #1f98f4;
    border-width: 1px;
}

.cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
}

.cards__item__info {
    padding: 0px 15px 0px 15px;
}

.cards__item__text {
    color: #252e48;
    font-size: 16px;
    line-height: 20px;
    word-break: break-word;
}

.cards__item__ul {
    background-color: #e9e9e9;
    font-size: 14px;
    padding: 2px 0px 1px 5px;
    border-radius: 6px;
    width: auto;
    word-wrap: break-word
}

.cards__item__pop__ul {
    font-size: 14px;
    padding: 0px 10px 0px 10px;
    border-radius: 6px;
    word-wrap: break-word;
}

.cards__item__pop__ul__name {
    color: #252e48;
    text-decoration: underline black;
}

.cards__item__pop__p {
    color: #252e48;
    font-size: 14px;
    margin-top: 0px;
    word-break: break-all;
}

.cards__item__export {
    font-size: 14px;
    padding: 0px 10px 10px 10px;
    border-radius: 6px;
}

.cards__item__list {
    font-size: 14px;
    padding: 10px;
    border-radius: 6px;
}

.cards__item__exportButton {
    display: inline;
    padding: 3px;
    margin: 10px;
    font-size: 18px;
    background-color: #1f98f4;
    color: #242424;
    border-radius: 6px
}

.cards__item__labels {
    padding: 0px 10px 10px 15px;
}

.cards__item__label__cycle {
    display: inline-block;
    padding: 0.2rem;
    margin-right: 0.4rem;
    margin-bottom: 0.2rem;
    border-radius: 4px;
    border-width: 0px;
    color: #fff;
    background-color: #1f98f4;
    font-size: 12px;
    letter-spacing: 0.1rem;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.cards__item__label__language {
    display: inline-block;
    padding: 0.2rem;
    margin-right: 0.4rem;
    margin-bottom: 0.2rem;
    border-radius: 4px;
    border-width: 0px;
    color: #fff;
    background-color: #201959;
    font-size: 12px;
    letter-spacing: 0.1rem;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

@media only screen and (min-width: 1200px) {
    .content__blog__container {
        width: 84%;
    }
}

@media only screen and (min-width: 1024px) {
    .cards__items {
        display: c;
    }
}

@media only screen and (max-width: 1024px) {
    .cards__item {
        margin-bottom: 2rem;
    }
}