.filter__showCycleItems {

}

.filter__showCycleItem {

}

.filter__box {
    background: #daf3f7;
    padding: 0px 10px 10px 10px;
    border-radius: 10px;
    margin: 10px 0px 0px 0px;
}

.filter__text {
    margin: 10px 5px 20px 0px;
}

.filter__tip {
    margin: -15px 0px 10px 2px;
    font-size: 0.8rem;
}

.filter__cycleItem {
    display: inline-block;
    padding: 0.2rem;
    margin-right: 0.4rem;
    margin-bottom: 0.2rem;
    border-radius: 4px;
    border-width: 0px;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.1rem;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

.filter__cycleItem:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c8ce0;
    border-radius: 4px;
    border-width: 0px;
    z-index: -2;
}

.filter__cycleItem:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #1f98f4;
    border-radius: 4px;
    border-width: 0px;
    z-index: -1;
}

.filter__cycleItem:hover {
    color: #fff;
}

.filter__cycleItem:hover:before {
    width: 100%;
}

.filter__cycleItem:active {
    color: black;
}

.filter__button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    margin-right: 1rem;
    border-radius: 8px;
    border-width: 2px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

.filter__button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #201959;
    border-radius: 6px;
    border-width: 1px;
    z-index: -2;
}

.filter__button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #201959;
    border-radius: 6px;
    border-width: 1px;
    z-index: -1;
}

.filter__button:hover {
    color: #fff;
}

.filter__button:hover:before {
    width: 100%;
}

.filter__button:active {
    border-color: aliceblue;
    color: black;
}

.filter__right {
    padding: 5px;
    margin: 10px;
}

@media only screen and (min-width: 0px) {
    .filter__box {
        width: 80%;
    }

    .filter__button {
        display: inline-block;
        padding: 0.5rem 0.5rem;
        margin-right: 0rem;
        margin-top: 0.5rem;
        border-radius: 8px;
        border-width: 1px;
        color: #fff;
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 0.15rem;
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
}

@media only screen and (min-width: 600px) {
    .filter__box {
        width: 80%;
    }

    .filter__button {
        display: inline-block;
        padding: 0.5rem 1rem;
        margin-right: 1rem;
        border-radius: 8px;
        border-width: 1px;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.15rem;
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
}

@media only screen and (min-width: 1000px) {
    .filter__box {
        width: 60rem;
    }
}