.pop__container {
    display: flex;
    flex-direction: row-reverse;
    margin: -30px 20px 10px 0px;
}

.pop__button {
    display: flex;
    border-radius: 15px;
    border-width: 0.5px;
    color: black;
    font-size: 1rem;
    transition: all 0.2s;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.pop__button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    z-index: -2;
}

.pop__button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 15px;
    z-index: -1;
}

.pop__button:hover {
    color: #1f98f4;
    border-color: #1f98f4;
}

.pop__button:hover:before {
    width: 100%;
}

.pop__button__close {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    margin-right: 1rem;
    border-radius: 8px;
    border-width: 2px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

.pop__button__close:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #201959;
    border-radius: 6px;
    border-width: 1px;
    z-index: -2;
}

.pop__button__close:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #201959;
    border-radius: 6px;
    border-width: 1px;
    z-index: -1;
}

.pop__button__close:hover {
    color: #fff;
}

.pop__button__close:hover:before {
    width: 100%;
}

.pop__button__close:active {
    border-color: aliceblue;
    color: black;
}

.pop__title {
    background-color: #201959;
    color: white;
}

.pop__ul {
    padding: 0px 10px 0px 10px;
    border-radius: 6px;
    word-wrap: break-word;
    height: 95%;
    overflow: auto;
}

.pop__ul__name {
    font-size: 14px;
    color: #252e48;
    text-decoration: underline black;
}

.pop__ul__data {
    font-size: 13px;
    color: #000000;
}

.pop__item__list {
    font-size: 14px;
    padding: 0px;
    border-radius: 6px;
    height: 100%;
    word-wrap: break-word;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.pop__button__export__on {
    display: inline-block;
    padding: 0.6rem 1rem;
    width: 100%;
    border-radius: 8px;
    border-width: 1px;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.15rem;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

.pop__button__export__on:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c8ce0;
    border-radius: 6px;
    border-width: 1px;
    z-index: -2;
}

.pop__button__export__on:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #1f98f4;
    border-radius: 6px;
    border-width: 1px;
    z-index: -1;
}

.pop__button__export__on:hover {
    color: #fff;
}

.pop__button__export__on:hover:before {
    width: 100%;
}

.pop__button__export__on:active {
    border-color: aliceblue;
    color: black;
}

.pop__button__export__off {
    display: inline-block;
    padding: 0.6rem 1rem;
    width: 100%;
    border-radius: 8px;
    border-width: 1px;
    color: #363636;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.15rem;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    pointer-events: none
}

.pop__button__export__off:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(68, 185, 255, 0.29);
    border-radius: 6px;
    border-width: 1px;
    z-index: -2;
}

.pop__button__export__off:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(206, 228, 245, 0.15);
    border-radius: 6px;
    border-width: 1px;
    z-index: -1;
}

.pop__loading {
    width: 20px;
    height: 20px;
    margin: 10px;
    border:solid 5px #1f98f4;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         1.0s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;

    transition: all 0.5s ease-in;
    animation-name:             rotate;
    animation-duration:         1.0s;
    animation-iteration-count:  infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}